<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <title>{% block title%}Blog | All{% endblock %}</title>
{% block extra-head %}

{% endblock %}
</head>
<body>

{% block header %}

{% endblock %}

{% block feature %}

{% endblock %}

{% block sidebar-left %}

{% endblock %}

{% block content%}
    {% block content-left %}
    {% endblock %}
    {% block content-right %}			  			  
	<ul>
	{% load hierarchies %}
	{% get_recent_docs blog 5 as recent_docs %}
	{% for doc in recent_docs %}
	   <li><a href="{{doc.get_absolute_url}}">{{doc.title}}</a></li>
    {% endfor %}
	</ul>
    {% endblock %}

{% endblock %}


{% block footer %}

{% endblock %}
</body>
</html>