{% extends 'base.html' %}
{% block content%}
<div>
<table width="720" border="0" cellpadding="0" cellspacing="0">
<tr>
<td width="232" valign="top">
<div>
{% load hierarchies %}
{% get_hierarchies as hierarchies %}
{% for h in hierarchies%}
{% if forloop.counter|divisibleby:"4" %}
</div></td><td width="232" valign="top"><div >
{% endif%}	

<div class="browseList">
<p class="browseTitle"><a href='{{h.get_absolute_url}}'>{{h.name}}</a></p>
{% for cat in h.categories.rootChildren%}
<p class="browseLink"><a href="{{cat.get_absolute_url}}">{{cat.name}}</a></p>
{% endfor %}
</div>
{% endfor %}	
</td></tr></table></div>
</div>

{% endblock %}