{% extends 'base.html'%}

{% block title%}opt cat content_detail{{object.title}}{% endblock %}
{%block extra-head%}
{%endblock%}

{% block header %}
    {% include 'optaros/nav.html' %}
{% endblock %}

{% block sidebar-left %}{%endblock%}
{% block page-class %}full{%endblock%}
{% block feature %}
<div id="featureContainer" class="full feature-container-permalink">
  <h1>
    {% for crumb in category.breadcrumbs %}
	<a href="{{crumb.url}}">{{crumb.name}}</a><span> > </span>
	{% endfor %}
	<br/>
	{{object.title}} 
  </h1>
 </div>
{% endblock %}

{% block content-left%}
<span class="posted_by">Posted {{object.modified|date:"j N Y"}} by {% load alfresco_tags %}{% format_user_link object.author %}</span>
                                                                                
<div class="blog-permalink-entry show-url">
{{object.content|safe}}
</div>
{% endblock %}