{% extends 'base.html'%}

{% block title%}{{hierarchy.name}}{% endblock%}
{% block extra-head %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url rss_feed hierarchy.get_rss %}" />
{% endblock %}

{% block feature %}
    <div id="featureContainer">
      <div>
  <h1>
  	<a href="{{hierarchy.get_absolute_url}}" class="active">{{hierarchy.name}}</a> <span> > </span> All
  </h1>
  </div>
  </div>
{% endblock %}

{% block sidebar-left %}
<div id="title"> Blog Channels</div>
<ul class="menu">
<li><a href="{{hierarchy.get_absolute_url}}" class="active">All</a></li>
{% for cat in hierarchy.get_parent_categories%}
<li><a href="{{cat.get_absolute_url}}">{{cat.name}}</a></li>
{% endfor %}
</ul>
 {% endblock %}

{% block content-left %}
{% for doc in recent_docs %}
<div class="entry" {% if forloop.first %}id="sticky"{% endif %}><h3><a name="blog-info" href="{{doc.get_absolute_url}}" title="Posted {{doc.modified|date:"j N Y"}} by {{doc.author}}">{{doc.title}}</a><br/>
<span class="posted_by">Posted {{doc.modified|date:"j N Y"}} by <a href="/blog/jpotts">Jeff Potts</a> | Tags: <a href="/blog-term/Alfresco" name="blogtag">Alfresco</a>, <a href="/blog-term/Content%20Management" name="blogtag">Content Management</a></span></h3>
<p>
{{doc.content|safe|striptags|truncatewords:50}}
<a class="read_more" href="{{doc.get_absolute_url}}" title="Posted {{doc.modified|date:"j N Y"}} by {{doc.author}}">Read more </a>
</p>
</div>
{% endfor %}
{% endblock%}
