/*
	http://exploding-boy.com/images/cssmenus2/menus.html
*/



/**********************************************************************/

/* Skin */

.panel {
    padding: 1em 10px;
    background: none; /* declare background color for container to avoid distorted fonts in IE while fading */
	background: transparent url(/site_media/sample_site/img/bg_tabs.gif) no-repeat left top;
}

    #home_tabs {
      float:left;
      width:100%;
      font-size:93%;
      line-height:normal;
	  /*border-bottom:1px solid #BCD2E6; */
	  background:transparent url(/site_media/sample_site/img/tabs_bg.gif) no-repeat left bottom;
	  padding-top:12px;
	  *padding-bottom:10px;
	  
      }
    #home_tabs ul {
	  margin:0;
	  padding: 0;
	  list-style:none;
	  position:relative;
	  top:6px;
      }
    #home_tabs li {
      display:inline;
      margin:0;
      padding:0;
      }
    #home_tabs a {
      float:right;
      background:url("images/tableft2.gif") no-repeat left top;
      margin:0 1px 0 0px;
	  *margin:0 1px 0 0px;
      padding:0 0 0 4px;
      text-decoration:none;
	  *position:relative;
	  *top:-1px;
      }
    #home_tabs a span {
      float:right;
      display:block;
      background:url("images/tabright2.gif") no-repeat right top;
      padding:3px 15px 2px 6px;
      color:#627EB7;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #home_tabs a span {float:none;}
    /* End IE5-Mac hack */
    #home_tabs a:hover span {
      color:#627EB7;
      }
    #home_tabs a:hover {
      background-position:0% -21px;
      }
    #home_tabs a:hover span {
      background-position:100% -21px;
      }
	  
	#home_tabs .selected a {
      background-position:0% -21px;
      }
    #home_tabs .selected a span {
      background-position:100% -21px;
	  padding-bottom:3px; 
      }
	  