  <div id="mh">
        <div id="mhLeft">
      <a href="/"><img src="http://www.optaros.com/files/logo.gif" alt="Home" /></a>
    </div>

    <div id="mhRight">
      <div id="navContainer">
        <div class="navColumn one">
          <h2>Solutions</h2>
          <ul class="menu">
            {% block solutions_menu %}
            {% load alfresco_tags %}
            {% get_content solutions %}
            {% endblock %}
          </ul>
        </div>
        <div class="navColumn two">
          <h2>Approach</h2>
          <ul class="menu">
            {% block approach_menu %}
            {% load alfresco_tags %}
            {% get_content approach %}
            {% endblock %}
            </ul>
         </div>
         <div class="navColumn three">
          <h2>Expertise</h2>
          <ul class="menu">
            {% block expertise_menu %}
            {% load alfresco_tags %}            
            {% get_content expertise %}
            {% endblock %}
            </ul>
         </div>
        <div class="navColumn four">
          <h2>Company</h2>
          <ul class="menu">
            {% block company_menu %}
            {% load alfresco_tags %}
            {% get_content company %}
            {% endblock %}
            </ul>
        </div>
         <div class="navColumn five">
          <h2>Search</h2>
          <div id="top_search"><form action="/sample_site/search"  accept-charset="UTF-8" method="get" id="search-theme-form">
          <div><div class="form-item" id="edit-search-theme-form-1-wrapper">
          <input type="text" maxlength="128" name="q" id="edit-search-theme-form-1" size="15" value="" title="Enter the terms you wish to search for." class="form-text" />
          <input type="submit" id="edit-submit" value="Go" />
          </div>
          </div></form>
          </div>
          <span class="contact_menu_item"><a href="/offices/us-corporate-headquarters">Locations</a></span><span> | </span><span class="contact_menu_item"><a href="/customer_registration?contact" title="">Contact</a></span>        </div>

      <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div><!-- #mhRight -->
    <div class="clearfix"></div>  </div>